<section class="counter-up my-5" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-12 mt-5 mt-lg-0" data-aos="fade-right" data-aos-delay="200">
                <i class="ri-discuss-line icon"></i>
                <h1 class="counter">+500</h1>
                <h2 class="title-2">happy clients</h2>
            </div>
            <div class="col-lg-3 col-12 mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="250">
                <i class="ri-discuss-line icon"></i>
                <h1 class="counter">+60</h1>
                <h2 class="title-2">hard worker</h2>
            </div>
            <div class="col-lg-3 col-12 mt-5 mt-lg-0" data-aos="fade-down" data-aos-delay="250">
                <i class="ri-discuss-line icon"></i>
                <h1 class="counter">+800</h1>
                <h2 class="title-2">complete project</h2>
            </div>
            <div class="col-lg-3 col-12 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
                <i class="ri-discuss-line icon"></i>
                <div class="counter">+30</div>
                <div class="title-2">Years Of Exprience</div>
            </div>
        </div>
    </div>
</section>
