<section class="container testimonials py-5">
    <div class="heading">
        <h4 class="pretitle" data-aos="fade-up">
            testimonials
        </h4>
        <h1 class="title col-12" data-aos="fade-up" data-aos-delay="100">
            Customers Testmonials
        </h1>
        <p class="col-lg-7 col-12" data-aos="fade-up" data-aos-delay="150">
            As a matter of fact the unification of the coherent software provides a strict control over
            The Accomplishment of Intended Estimation
        </p>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="owl-carousel testimonial owl-theme">
            <div class="item">
                <div class="box">
                    <div class="d-flex justify-content-center align-items-center m-2">
                        <div class="col-2 ms-4 ">
                            <img class="rounded-circle" src="images/testimonials/testimonials-1.jpg" alt="testimonial-img">
                        </div>
                        <div class="col-10 d-flex flex-column mx-4">
                            <h1 class="title-2">
                                ahmad errami
                            </h1>
                            <div class=" justify-content-between">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, labore dolore laborum dolorum culpa
                        ducimus ipsam quo, veniam animi pariatur facilis tempora incidunt nostrum quisquam, cum quasi laudantium?
                        Voluptates, sequi? Possimus ipsa, excepturi praesentium dolore quae placeat voluptatem doloremque
                        deserunt?</p>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="d-flex justify-content-center align-items-center m-2">
                        <div class="col-2 ms-4">
                            <img class="rounded-circle" src="images/testimonials/testimonials-2.jpg" alt="testimonial-img">
                        </div>
                        <div class="col-10 d-flex flex-column mx-4">
                            <h1 class="title-2">
                                john wick
                            </h1>
                            <div class=" justify-content-between">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, labore dolore laborum dolorum culpa
                        ducimus ipsam quo, veniam animi pariatur facilis tempora incidunt nostrum quisquam, cum quasi laudantium?
                        Voluptates, sequi? Possimus ipsa, excepturi praesentium dolore quae placeat voluptatem doloremque
                        deserunt?</p>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="d-flex justify-content-center align-items-center m-2">
                        <div class="col-2 ms-4">
                            <img class="rounded-circle" src="images/testimonials/testimonials-5.jpg" alt="testimonial-img">
                        </div>
                        <div class="col-10 d-flex flex-column mx-4">
                            <h1 class="title-2">
                                saul goodman
                            </h1>
                            <div class="justify-content-between">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, labore dolore laborum dolorum culpa
                        ducimus ipsam quo, veniam animi pariatur facilis tempora incidunt nostrum quisquam, cum quasi laudantium?
                        Voluptates, sequi? Possimus ipsa, excepturi praesentium dolore quae placeat voluptatem doloremque
                        deserunt?</p>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="d-flex justify-content-center align-items-center m-2">
                        <div class="col-2 ms-4">
                            <img class="rounded-circle" src="images/testimonials/testimonials-3.jpg" alt="testimonial-img">
                        </div>
                        <div class="col-10 d-flex flex-column mx-4">
                            <h1 class="title-2">
                                adam smith
                            </h1>
                            <div class="justify-content-between">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, labore dolore laborum dolorum culpa
                        ducimus ipsam quo, veniam animi pariatur facilis tempora incidunt nostrum quisquam, cum quasi laudantium?
                        Voluptates, sequi? Possimus ipsa, excepturi praesentium dolore quae placeat voluptatem doloremque
                        deserunt?</p>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="d-flex justify-content-center align-items-center m-2">
                        <div class="col-2 ms-4">
                            <img class="rounded-circle" src="images/testimonials/testimonials-4.jpg" alt="testimonial-img">
                        </div>
                        <div class="col-10 d-flex flex-column mx-4">
                            <h1 class="title-2">
                                walter white
                            </h1>
                            <div class=" justify-content-between">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, labore dolore laborum dolorum culpa
                        ducimus ipsam quo, veniam animi pariatur facilis tempora incidunt nostrum quisquam, cum quasi laudantium?
                        Voluptates, sequi? Possimus ipsa, excepturi praesentium dolore quae placeat voluptatem doloremque
                        deserunt?</p>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="d-flex justify-content-center align-items-center m-2">
                        <div class="col-2 ms-4">
                            <img class="rounded-circle" src="images/testimonials/testimonials-5.jpg" alt="testimonial-img">
                        </div>
                        <div class="col-10 d-flex flex-column mx-4">
                            <h1 class="title-2">
                                gustavo fring
                            </h1>
                            <div class="justify-content-between">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, labore dolore laborum
                        dolorum culpa
                        ducimus ipsam quo, veniam animi pariatur facilis tempora incidunt nostrum quisquam, cum quasi laudantium?
                        Voluptates, sequi? Possimus ipsa, excepturi praesentium dolore quae placeat voluptatem doloremque
                        deserunt?</p>
                </div>
            </div>
        </div>
    </div>
</section>
