<section class="container why-choose-us py-5">
    <div class="heading">
        <h4 class="pretitle" data-aos="fade-up">
            why choose us
        </h4>
        <h1 class="title col-12" data-aos="fade-up" data-aos-delay="100">
            why our clients choose us
        </h1>
        <p class="col-lg-7 col-12" data-aos="fade-up" data-aos-delay="150">
            As a matter of fact the unification of the coherent software provides a strict control over
            The Accomplishment of Intended Estimation
        </p>
    </div>
    <div class="row  gy-4 gx-4 ">
        <div class="col-md-6 col-lg-4 mx-auto" data-aos="fade-right" data-aos-delay="250">
            <div class="box">
                <h1 class="my-4">01.</h1>
                <h2 class="title-2 my-2 ">Latest Technologies</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio unde, exped
                    ita nesciunt quibusdam quis tempore quas tenetur</p>
            </div>
        </div>
        <div class="col-md-6  col-lg-4 mx-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
                <h1 class="my-4">02.</h1>
                <h2 class="title-2 my-2 ">Uniqe Solutions</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio unde, exped
                    ita nesciunt quibusdam quis tempore quas tenetur</p>
            </div>
        </div>
        <div class="col-md-6  col-lg-4 mx-auto" data-aos="fade-left" data-aos-delay="250">
            <div class="box">
                <h1 class="my-4">03.</h1>
                <h2 class="title-2 my-2 ">Powerful Strategies</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio unde, exped
                    ita nesciunt quibusdam quis tempore quas tenetur</p>
            </div>
        </div>
    </div>
</section>
