<section class="container services py-5" id="services">
    <div class="heading">
        <h4 class="pretitle" data-aos="fade-up">
            our services
        </h4>
        <h1 class="title col-lg-10 col-12" data-aos="fade-up" data-aos-delay="100">
            What We’re Offering?
        </h1>
        <p class="col-lg-7 col-12" data-aos="fade-up" data-aos-delay="150">
            As a matter of fact the unification of the coherent software provides a strict control over
            The Accomplishment of Intended Estimation
        </p>
    </div>
    <div class="row gy-4 gx-4 ">
        {% include 'layout/components/service_list.html.twig' with services %}
    </div>
</section>
