<div class="footer">
  <div class="container">
    <div class="row justify-content-center align-items-center g-4">
      <div class="col-12 col-lg-3 col-md-6 mx-auto my-4">
        <div
                class="box d-flex flex-column justify-content-md-start justify-content-lg-start justify-content-center align-items-center align-items-lg-start align-items-md-start">
          <a href="template/#" class="logo "><img class="my-2" src="template/images/logo/logo.png" alt=""></a>
          <p>Lorem ipsum dolor sit amet
            aspernatur exercitationem fugiat.</p>
          <h4 class="my-2">
            follow us
          </h4>
          <div class="social d-flex gap-2">
            <div class="icon"><i class="bi bi-facebook"></i></div>
            <div class="icon"><i class="bi bi-instagram"></i></div>
            <div class="icon"><i class="bi bi-twitter-x "></i></div>
            <div class="icon"><i class="bi bi-youtube"></i></div>
          </div>
        </div>
      </div>
      <div
              class="col-12 col-lg-3 col-md-6 mx-auto d-flex flex-column justify-content-md-start justify-content-lg-start justify-content-center align-items-center align-items-lg-start align-items-md-start my-4 gap-3">
        <h4>site map</h4>
        <ul class="d-flex flex-column gap-3">
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a href="template/index-2.html">home</a>
          </li>
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a
                    href="template/about.html">about</a></li>
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a
                    href="template/services.html">services</a></li>
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a
                    href="template/contact.html">contact</a></li>
        </ul>
      </div>
      <div
              class="col-12 col-lg-3 col-md-6 mx-auto d-flex flex-column justify-content-md-start justify-content-lg-start justify-content-center align-items-center align-items-lg-start align-items-md-start my-4 gap-3">
        <h4>follow us</h4>
        <ul class="d-flex flex-column gap-3">
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a href="template/#">facebook</a>
          </li>
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a href="template/#">instagram</a>
          </li>
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a href="template/#">linkedin</a></li>
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a href="template/#">x</a></li>
        </ul>
      </div>
      <div
              class="col-12 col-lg-3 col-md-6 mx-auto d-flex flex-column justify-content-md-start justify-content-lg-start justify-content-center align-items-center align-items-lg-start align-items-md-start my-4 gap-3">
        <h4>our services</h4>
        <ul class="d-flex flex-column gap-3">
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a href="template/#">digital
              marketing</a>
          </li>
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a href="template/#">web
              developement</a>
          </li>
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a href="template/#">cyber
              security</a></li>
          <li class="d-flex align-items-center gap-2"><i class="bi bi-chevron-right"></i><a href="template/#">graphic
              design</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="copyrights ">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
          <p class="creadits">
            LSOLDO &nbsp;&copy; &nbsp;Copyright &nbsp;2024
            - {{ 'now'|date('Y') }} &nbsp;|&nbsp; Build with<span style="color:red"> ♥</span> By<a
                    style="color:red" href="https://bluetech-tg.github.io/" target="_blank"
                    rel="noopener noreferrer"> BlueTech.</a> All Right Reserved.
          </p>
        </div>
        <div
                class="col-12 col-md-6 d-flex justify-content-lg-end justify-content-md-end justify-content-center pb-md-0 pb-md-0 pb-lg-0 pb-3">
          <div>
            <a href="template/terms-of-use.html">Terms of Use </a>
            | <a href="template/privacy-policy.html">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

