<div id="preloader">
    <svg id="mainSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600">
        <defs>
            <radialGradient id="mainGrad" cx="400" cy="300" fx="400" fy="300" r="100" gradientUnits="userSpaceOnUse">
                <stop offset=".68" stop-color="#f65305" />
                <stop offset=".72" stop-color="#f7642f" />
                <stop offset=".77" stop-color="#f78550" />
                <stop offset=".82" stop-color="#f7a57a" />
                <stop offset=".88" stop-color="#f7c5a3" />
                <stop offset=".93" stop-color="#f7e5cc" />
                <stop offset=".99" stop-color="#ffffff" />
                <stop offset="1" stop-color="#ffffff" />
            </radialGradient>
        </defs>
        <circle id="fillDot" cx="400" cy="300" fill="#ff4b16" r="100" />
        <circle id="gradDot" cx="400" cy="300" fill="url(#mainGrad)" r="100" />
    </svg>
</div>
<div id="progress">
    <span id="progress-value"><i class="bi bi-arrow-up-short"></i></span>
</div>